<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Property binding</h3>
            <h4>One way binding</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Bind JavaScript properties of elements</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" [innerText]="pokeballTitle"></h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="imagesPath+'/'+pokeball" [alt]="pokeball" [width]="imageWidth" [height]="imageHeight">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" [innerText]="pikachuTitle"></h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="imagesPath+'/'+pikachu" [alt]="pikachu" [style.width]="imageWidth" [style.height]="imageHeight">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Bind properties conditionally</h4>
                <p>
                    <button class="btn" (click)="selectedPokemon ? selectedPokemon=null: selectedPokemon=pikachu" [innerText]="selectedPokemon ? 'Back to pokeball' : 'Choose it'"
                        [ngClass]="selectedPokemon ? 'btn-danger': 'btn-success'"></button>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" [innerText]="selectedPokemon ? pikachuTitle: pokeballTitle"></h3>
                            </div>
                            <div class="panel-body text-center">
                                <img [src]="selectedPokemon ? imagesPath+'/'+pikachu : imagesPath+'/'+pokeball" [alt]="selectedPokemon ? pikachu : pokeball"
                                    [width]="imageWidth" [height]="imageHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Change background with <code>ngStyle</code> or entire block with css <code>display</code></h4>
                <p>
                    <button class="btn btn-primary" (click)="backgroundToggle = !backgroundToggle">Toggle background</button>
                    <button class="btn btn-primary" (click)="cssToggle = !cssToggle">Toggle display</button>
                </p>
                <div class="row" [style.display]="cssToggle ? 'block' : 'none'">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" [innerText]="backgroundToggle ? pikachuTitle: pokeballTitle"></h3>
                            </div>
                            <div class="panel-body">
                                <div class="bg-pokemon" [ngStyle]="backgroundToggle ? {'background-image': 'url('+imagesPath+'/'+pikachu+')'} : {'background-image': 'url('+imagesPath+'/'+pokeball+')'}" [title]="selectedPokemon ? pikachu : pokeball"
                                    [style.width]="imageWidth" [style.height]="imageHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>