<div class="row">
    <div class="col-md-12">
        <h3>NgIf</h3>
        <h4>Conditionally add or remove elements from DOM</h4>
        <hr />
        <button class="btn btn-primary btn-large" (click)="chosen = !chosen">Toggle</button>
        <div class="row" *ngIf="!chosen">
            <div class="col-md-12">
                <h4>Which country's flag is behind?</h4>
                <a class="thumbnail">
                    <div class="question-mark-container flag">
                        <span class="question-mark">?</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" *ngIf="chosen">
            <div class="col-md-12">
                <h4>It is Australia's!</h4>
                <a class="thumbnail">
                    <img src="{{imagesPath+australia}}" alt="{{australia}}" class="flag img-rounded" />
                </a>
            </div>
        </div>
    </div>
</div>