.pokemon-container {
    width: 350px;
    max-width: 400px;
}

.technique-container {
    width: 450px;
    max-width: 450px;
}


.pokemon-image {
    width: 50%;
}

.pokemon-details {
    width: 50%;
}

.pokemon-type {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.text-top {
    vertical-align: top;
}