<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Event binding</h3>
            <h4>Binding from view to component</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Binding to events with component methods</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Choose a pokemon from its type</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group" role="group" aria-label="Pokemon types">
                                    <button *ngFor="#pokemon of pokemons" [id]="pokemon.type" type="button" class="btn" [ngClass]="getColorFromType(pokemon.type)" (click)="select($event)">{{capitalizeFirstLetter(pokemon.type)}}</button>
                                    <button type="button" class="btn btn-primary" (click)="clear($event)">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="#pokemon of pokemons">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{capitalizeFirstLetter(pokemon.name)}}::{{capitalizeFirstLetter(pokemon.type)}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="getSrcForSelected(pokemon)" alt="{{pokemon}}" [width]="100" [height]="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="clickedElement">
                        Clicked element #id={{clickedElement.id}} at {{getCurrentTime()}}
                    </div>
                </div>

                <!--replace pokemon-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-5">
                                <h3 class="panel-title">Replace pokemon from inventory with other available</h3>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-sm-4">
                                            <label for="AvailableList">Available</label>
                                            <select id="AvailableList" (change)="changeAvailablePokemon($event)">
                                                <option value="-1">Select from below..</option>
                                                <option *ngFor="#pokemon of pokemons" [value]="pokemon.name">
                                                    <a class="point">{{capitalizeFirstLetter(pokemon.name)}}</a>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="StoredList">Stored</label>
                                            <select id="StoredList" (change)="changeStoredPokemon($event)">
                                                <option value="-1">Select from below..</option>
                                                <option *ngFor="#pokemon of pcStoredPokemons" [value]="pokemon.name">
                                                    <a class="point">{{capitalizeFirstLetter(pokemon.name)}}</a>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" (click)="swap()">Swap</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="#pokemon of pcStoredPokemons">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{capitalizeFirstLetter(pokemon.name)}}::{{capitalizeFirstLetter(pokemon.type)}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="imagesPath+'/'+pokemon.name+'.png'" alt="{{pokemon}}" [width]="100" [height]="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="changedElement">
                        Changed element in select list value={{changedElement.target.selectedOptions[0].value}} at {{getCurrentTime()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>