<div class="row">
    <div class="col-md-12">
        <h3>Angular forms</h3>
        <h4>Validating forms</h4>
        <hr />
        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <h4>Using build-in and custom validators</h4>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" routerLinkActive="active">
                        <a [routerLink]="['/forms', 'validation', 'form']">Form</a>
                    </li>
                    <li role="presentation" routerLinkActive="active">
                        <a [routerLink]="['/forms', 'validation', 'settings']">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>