.jumbotron-blue {
    background-color: #1976D2;
    background: -webkit-linear-gradient(305deg, #0D47A1, #42A5F5);
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
    color: #fff;
}

div.list-category h2.title {
    display: block;
    padding: 14px 0 15px 0;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0px;
    border-bottom: 1px solid;
}

div.list-category a.list-group-item:first-child {
    border-top: 0;
}

div.list-category a.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: #4c4c4c;
    font-size: 14px;
    text-indent: 5px;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-bottom: 0;
    border-bottom: 1px solid #E0E4E9;
    -webkit-transition: border 0.1s ease-in-out 0.05s;
    transition: border 0.1s ease-in-out 0.05s;
}

div.list-category a.list-group-item:hover {
    border-left: 2px solid #337ab7;
    -webkit-transition: border 0.1s ease-in-out 0.05s;
    transition: border 0.1s ease-in-out 0.05s;
}

div.list-category a.list-group-item:last-child:hover {
    border-left: 2px solid #337ab7;
    -webkit-transition: border 0.1s ease-in-out 0.05s;
    transition: border 0.1s ease-in-out 0.05s;
}