<div class="row">
    <div class="col-md-12">
        <h3>Services</h3>
        <h4>Dependency Injection</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Using Dependency injection with services</h4>
                <h5>Constructor shows different ways to inject something in class</h5>
                <div class="row">
                    <div class="col-md-12">
                        <p><code>constructor(@Inject(ContinentService) private _continentService: ContinentService, private _renderer: Renderer, private _injector: Injector)</code></p>
                        <p>or..</p>
                        <p><code>let colorService: ColorService = this._injector.get(ColorService);</code></p>
                        <p>For non-class providers use the <code>OpaqueToken</code> to register and resolve.</p>
                    </div>
                </div>
                <h6>Click continent on map to show relevant countries</h6>

                <div class="row">
                    <div id="map" #map></div>
                </div>
                <div class="row" *ngIf="continent">
                    <div class="col-md-12">
                        <h2>{{continent.name}}</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Flag</td>
                                    <td>Name</td>
                                    <td>Code</td>
                                    <td>Population</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let country of continent.countries">
                                    <td>
                                        <img [src]="country.getFlag()" alt="country.name" class="flag" />
                                    </td>
                                    <td>{{country.name}}</td>
                                    <td>{{country.code}}</td>
                                    <td>{{country.population | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>