<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3>Greek language countries</h3>
    </div>
    <div class="panel-body">
        <h4>All these countries have Greek language as primary</h4>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let country of countries">
            <button class="btn btn-info" (click)="navigateToCountry(country)">{{country.name}}</button>
        </li>
    </ul>

    <div class="panel-footer">
        <router-outlet></router-outlet>
    </div>
</div>