<div class="row">
    <div class="col-md-12">
        <div class="media">
            <div class="media-left">
                <ng-content select="[projection-flag]"></ng-content>
            </div>
            <div class="media-body">
                <h4 class="media-heading" [ngClass]="{'dropup': !visible}">
                    <a href="#" (click)="toggleVisibility($event)">{{name}} <span class="caret"></span></a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ng-content *ngIf="visible" select="[projection-body]"></ng-content>
    </div>
</div>