.anchor{
    cursor: pointer;
}

.figure-pokemon{
    display: inline-block;
    margin-bottom: 15px;
}

.figure-pokemon > a > img {
    height: 280px;
    max-width: 270px;
    min-height: 280px;
    padding: 5px;
}

figcaption {
    -webkit-transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    background: #F2F2F2;
    border-bottom: 4px solid #aaa;
}

.figure-pokemon:hover{
    animation: hop 0.5s;
}

.figure-pokemon:hover figcaption {
    -webkit-transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: border-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    border-color: #9C4419;
}

@keyframes hop{
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-2%);
    }
    
    100% {
        transform: translateY(0);
    }
}