<div class="row">
    <div class="col-md-12">
        <h3>Component interaction</h3>
        <h4>Using <code>@Input</code> and <code>@Output</code> to communicate between components. Also using pub-sub techniques
            to communicate with the add component</h4>
        <hr />
        <div class="row" *ngIf="addMode">
            <div class="col-md-12">
                <app-interaction-add-new-country (cancelable)="cancelAddMode()"></app-interaction-add-new-country>
            </div>
        </div>
        <div class="row" *ngIf="!addMode">
            <div class="col-md-6">
                <label for="addCountry">New country</label>
                <div class="form-group">
                    <button id="addCountry" type="button" class="btn btn-primary" (click)="setAddMode()">Add country to grid</button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="boxStyles">Bootstrap box styles</label>
                <select id="boxStyles" class="form-control text-capitalize" [(ngModel)]="boxStyle" name="styles">
                    <option *ngFor="let style of boxStyles" [ngValue]="style">{{ style.background }}</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row" *ngIf="selectedCountry">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <p class="lead">You selected <strong>{{selectedCountry.name}}</strong></p>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let countryArray of countriesArray">
            <div class="col-md-6" *ngFor="let country of countryArray">
                <app-interaction-country-details [country]="country" [bgColor]="boxStyle.background" [color]="boxStyle.color" (selectedCountry)="countrySelection($event)"></app-interaction-country-details>
            </div>
        </div>
    </div>
</div>