<div class="row">
    <div class="col-md-12">
        <h3>Component interaction</h3>
        <h4>Using <code>@Input</code> and <code>@Output</code> to communicate between components</h4>
        <hr />
        <div class="row" *ngFor="let countryArray of countriesArray">
            <div class="col-md-4" *ngFor="let country of countryArray">
                <app-interaction-country-details [country]="country" (selectedCountry)="countrySelection($event)"></app-interaction-country-details>
            </div>
        </div>
        <div class="row" *ngIf="selectedCountry" >
            <div class="col-md-12">
                <div class="alert alert-success">
                    <p class="lead">You selected <strong>{{selectedCountry.name}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>