<div class="row">
    <div class="col-md-12">
        <h3>Component interaction</h3>
        <h4>Using <code>@Input</code> and <code>@Output</code> to communicate between components. Also using pub-sub techniques
            to communicate with the add component</h4>
        <hr />
        <div class="row" *ngIf="addMode">
            <div class="col-md-12">
                <app-interaction-add-new-country (cancelable)="cancelAddMode()"></app-interaction-add-new-country>
            </div>
        </div>
        <div class="row" *ngIf="!addMode">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="setAddMode()">Add country to grid</button>
                <hr />
            </div>
        </div>
        <div class="row" *ngIf="selectedCountry">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <p class="lead">You selected <strong>{{selectedCountry.name}}</strong></p>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let countryArray of countriesArray">
            <div class="col-md-6" *ngFor="let country of countryArray">
                <app-interaction-country-details [country]="country" (selectedCountry)="countrySelection($event)"></app-interaction-country-details>
            </div>
        </div>
    </div>
</div>