<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Services</h3>
            <h4>Dependency Injection</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Using PokemonService</h4>
                <div class="row">
                    <div class="col-xs-6 col-md-3" *ngFor="#pokemon of pokemons">
                        <!-- Modal -->
                        <div class="modal fade" id="{{pokemon.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="{{pokemon.name}}ModalLabel">{{pokemon.name}} techniques</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12" *ngFor="#technique of pokemon.techniques">
                                                {{technique.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <figure class="figure-pokemon">
                            <a class="anchor">
                                <img [src]="pokemon.imageName" [alt]="pokemon.name" class="img-rounded img-thumbnail">
                            </a>
                            <figcaption>{{pokemon.name}}
                                <div class="clearfix">
                                    <a class="anchor" (click)="openModal(pokemon)"><img src="https://maxcdn.icons8.com/Color/PNG/24/Gaming/pokeball-24.png" title="Pokeball"
                                            width="24"></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>