<div class="row">
    <div class="col-md-12">
        <h3>Property binding</h3>
        <h4>One way binding</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Bind JavaScript properties of elements</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" [innerText]="unitedKingdomTitle"></h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="unitedKingdomFlag" [alt]="unitedKingdomTitle" [width]="imageWidth" [height]="imageHeight">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" [innerText]="usaTitle"></h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="usaFlag" [alt]="usaTitle" [style.width]="imageWidth" [style.height]="imageHeight">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Bind properties conditionally</h4>
                <p>
                    <button class="btn" (click)="flagToggle ? flagToggle=null: flagToggle=unitedKingdomFlag" [innerText]="flagToggle ? 'Change to US' : 'Change to UK'"
                        [ngClass]="flagToggle ? 'btn-primary': 'btn-info'"></button>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" [innerText]="flagToggle ? unitedKingdomTitle: usaTitle"></h3>
                            </div>
                            <div class="panel-body text-center">
                                <img [src]="flagToggle ? unitedKingdomFlag : usaFlag" [alt]="flagToggle ? unitedKingdomFlag : usaFlag" [width]="imageWidth"
                                    [height]="imageHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Change background with <code>ngStyle</code> or entire block with css <code>display</code></h4>
                <p>
                    <button class="btn btn-primary" (click)="backgroundToggle = !backgroundToggle">Toggle background</button>
                    <button class="btn btn-primary" (click)="cssToggle = !cssToggle">Toggle display</button>
                </p>
                <div class="row" [style.display]="cssToggle ? 'block' : 'none'">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" [innerText]="backgroundToggle ? unitedKingdomTitle: usaTitle"></h3>
                            </div>
                            <div class="panel-body">
                                <div class="bg-flag" [ngStyle]="backgroundToggle ? {'background-image': 'url('+unitedKingdomFlag+')', 'background-size': dimensionsFull} : {'background-image': 'url('+usaFlag+')', 'background-size': dimensionsFull}" [title]="backgroundToggle ? unitedKingdomTitle : usaTitle"
                                    [style.width]="imageWidth" [style.height]="imageHeight" [style.margin]="centerDisplay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>