<div class="row">
    <div class="col-md-4">
        <form novalidate #editProfileForm="ngForm">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input id="firstName" class="form-control" type="text" name="firstName" [(ngModel)]="currentUser.firstName" />
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input id="lastName" class="form-control" type="text" name="lastName" [(ngModel)]="currentUser.lastName" />
            </div>
            <div class="form-group">
                <label class="radio-inline"><input type="radio" name="sex" id="male" value="male" [(ngModel)]="currentUser.sex"> Male</label>
                <label class="radio-inline"><input type="radio" name="sex" id="female" value="female" [(ngModel)]="currentUser.sex"> Female</label>
            </div>
            <div class="form-group">
                <label class="control-label" for="country">Country/Region</label>
                <select name="country" id="country" class="form-control">
                    <option *ngFor="let country of countries" [ngValue]="country" [selected]="country === currentUser.country ? true: null">{{country}}</option>
                </select>
            </div>
            <div>
                <label class="control-label" for="dt">Birthday</label>
                <datepicker id="dt" name="dt" [(ngModel)]="currentUser.birthday" [showWeeks]="false" [minDate]="minDate" [maxDate]="maxDate"></datepicker>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save profile</button>
                <button type="reset" class="btn btn-warning">Cancel</button>
            </div>
        </form>
    </div>
</div>