<div class="row">
    <div class="col-md-12">
        <h3>Angular forms</h3>
        <h4>Template driven forms</h4>
        <hr />
        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <h4>Secret screen! Find out your life expectancy!</h4>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" routerLinkActive="active">
                        <a [routerLink]="['/forms', 'template', 'secret', 'life-expectancy-calculator']">Calculate life expectancy</a>
                    </li>
                    <li role="presentation" routerLinkActive="active">
                        <a [routerLink]="['/forms', 'template', 'secret', 'edit-profile']">Edit profile</a>
                    </li>
                    <li role="presentation" routerLinkActive="active">
                        <a [routerLink]="['/forms', 'template', 'secret', 'edit-account']">Edit Account</a>
                    </li>
                </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>