<div class="row">
    <div class="col-md-4">
        <form novalidate #editProfileForm="ngForm">
            <fieldset>
                <legend>Personal information</legend>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input id="firstName" #firstName="ngModel" [ngClass]="{'has-error': isRequiredValid(firstName)}" class="form-control" type="text" name="firstName" [(ngModel)]="currentUser.firstName" required />
                    <p class="text-danger" *ngIf="isRequiredValid(firstName)">First name is required</p>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input id="lastName" #lastName="ngModel" [ngClass]="{'has-error': isRequiredValid(lastName)}" class="form-control" type="text" name="lastName" [(ngModel)]="currentUser.lastName" required />
                    <p class="text-danger" *ngIf="isRequiredValid(lastName)">Last name is required</p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" #email="ngModel" [pattern]="emailPattern" [ngClass]="{'has-error': !isValidEmail(email) || isRequiredValid(email)}" class="form-control" type="text" name="email" [(ngModel)]="currentUser.email" required />
                    <p class="text-danger" *ngIf="isRequiredValid(email)">Email is required</p>
                    <p class="text-danger" *ngIf="!isValidEmail(email)">Email is not valid, please provide a valid email</p>
                </div>
            </fieldset>
            <fieldset>
                <legend>Address information</legend>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" class="form-control" type="text" name="address" [(ngModel)]="currentUser.address" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="country">Country</label>
                    <select name="country" id="country" class="form-control" required>
                    <option *ngFor="let country of countries" [ngValue]="country" [selected]="country === currentUser.country ? true: null">{{country}}</option>
                </select>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="button" (click)="save()" [disabled]="submitted || (editProfileForm.invalid || editProfileForm.pristine)" class="btn btn-primary">Save profile</button>
                <button type="button" (click)="resetForm()" [disabled]="editProfileForm.pristine" class="btn btn-warning">Cancel</button>
            </div>
        </form>
    </div>
</div>