<div class="row">
    <div class="col-md-12">
        <h3>Event binding</h3>
        <h4>Binding from view to component</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Binding to events with component methods</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Choose countries by continent</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group" role="group" aria-label="Continents">
                                    <button *ngFor="let continent of continents" [id]="continent.name" type="button" class="btn" (click)="setSelectedContinent($event, continent)">{{continent.name}}</button>
                                    <button id="Clear" type="button" class="btn btn-primary" (click)="clear($event)">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" *ngIf="continent">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let country of getCountriesBySelectedContinent()">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{country.name}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="getSrcForCountry(country)" alt="{{country.name}}" class="flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="clickedElement">
                        Clicked element #id={{clickedElement.id}} at {{getCurrentTime()}}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="panel-title">Show countries by continent</h3>
                                <h5 *ngIf="selectedContinent">Showing {{selectedContinent.name}}'s countries</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-sm-5">
                                            <label for="ShowingList" *ngIf="continentToSwap">Swapping to {{continentToSwap.name}}'s countries</label>
                                            <select id="ShowingList" (change)="changeShowingList($event)">
                                                <option value="-1">Select from below...</option>
                                                <option *ngFor="let continent of getContinentsExceptFromSelected()" [value]="continent.name">
                                                    <a class="point">{{continent.name}}</a>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-primary" (click)="swap()" [disabled]="!continentToSwap">Swap</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let country of getCountriesByContinent(selectedContinent)">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{country.name}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img [src]="getSrcForCountry(country)" alt="{{country.name}}" class="flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="changedElement">
                        Changed element in select list value={{changedElement.selectedOptions[0].value}} at {{getCurrentTime()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>