<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Two way binding</h3>
            <h4>Binding from view to component and vice versa</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Add a nickname to pokemon</h4>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Enter nickname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#pokemon of pokemons">
                            <td class="text-center">
                                <img [src]="imagesPath+'/'+pokemon.name+'.png'" [alt]="pokemon.name" [width]="100" [height]="100" />
                            </td>
                            <td>
                                <h4>{{capitalizeFirstLetter(pokemon.name)}} <span *ngIf="pokemon.nickname">({{pokemon.nickname}})</span></h4>
                            </td>
                            <td>
                                <h4><span class="label" [ngClass]="getColorForType(pokemon.type)">{{capitalizeFirstLetter(pokemon.type)}}</span></h4>
                            </td>
                            <td>
                                <input [(ngModel)]="pokemon.nickname" class="form-control" type="text" [placeholder]="'Enter a nickname for '+capitalizeFirstLetter(pokemon.name)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>