body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-section{
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 2px #ddd;
}

.list-section {
    list-style: none;
}

.list-section > li:before {
    content: "\2234";
    padding-right: 10px;
}

.list > .list-item {
    margin-top:5px;
    padding: 5px auto;
}