<div class="row">
    <div class="col-md-6">
        <h4>Hooks are invoked in the following order</h4>
        <ol>
            <li *ngFor="let evt of events">{{evt}}</li>
        </ol>
    </div>
    <div class="col-md-6" *ngIf="country">
        <h4>Country</h4>
        <span>{{country}}</span>

        <h4>All timezones and local time</h4>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" [disabled]="watchRunning" type="button" (click)="startWatch()"><i class="fa fa-play"></i> Start watch</button>
            <button class="btn btn-danger" [disabled]="!watchRunning" type="button" (click)="stopWatch()"><i class="fa fa-stop"></i> Stop watch</button>
        </div>
        <hr />
        <p *ngFor="let timezone of timezones">{{calculateTime(timezone)}} {{getTimezoneLocaleString(timezone)}}</p>
        <p *ngIf="automaticallyStopped" class="text-info">Automatically stopped, after 10 change detection loops (which run every one second because of <code>setinterval</code>)</p>
        <small>Hint: Time is updated automatically, by leveraging from Angular's change detection and lifecycle hooks, causing template to re-render (not optimal solution)</small>
    </div>
</div>