<div class="jumbotron">
    <div class="container">
        <h1>101 Angular</h1>
        <h4>Samples</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Templates</h2>
                <div class="list-group">
                    <a routerLink="/templates/interpolation" class="list-group-item">
                        <div class="truncate pull-left">Interpolation</div>
                    </a>
                    <a routerLink="/templates/ngif" class="list-group-item">
                        <div class="truncate pull-left">NgIf</div>
                    </a>
                    <a routerLink="/templates/ngfor" class="list-group-item">
                        <div class="truncate pull-left">NgFor</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Bindings</h2>
                <div class="list-group">
                    <a routerLink="/binding/property" class="list-group-item">
                        <div class="truncate pull-left">Property binding</div>
                    </a>
                    <a routerLink="/binding/event" class="list-group-item">
                        <div class="truncate pull-left">Event Binding</div>
                    </a>
                    <a routerLink="/binding/two-way" class="list-group-item">
                        <div class="truncate pull-left">Two way binding</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Services</h2>
                <div class="list-group">
                    <a [routerLink]="['Services']" class="list-group-item">
                        <div class="truncate pull-left">Services</div>
                    </a>
                    <a [routerLink]="['Injecting']" class="list-group-item">
                        <div class="truncate pull-left">Dependency injection</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Components</h2>
                <div class="list-group">
                    <a [routerLink]="['Interaction']" class="list-group-item">
                        <div class="truncate pull-left">Component interaction</div>
                    </a>
                    <a [routerLink]="['Childs']" class="list-group-item">
                        <div class="truncate pull-left">Child components</div>
                    </a>
                    <a [routerLink]="['LifecycleHooks']" class="list-group-item">
                        <div class="truncate pull-left">Lifecycle hooks</div>
                    </a>
                    <a [routerLink]="['ViewChild']" class="list-group-item">
                        <div class="truncate pull-left">View child</div>
                    </a>
                    <a [routerLink]="['Directives']" class="list-group-item">
                        <div class="truncate pull-left">Directives</div>
                    </a>
                    <a [routerLink]="['Pipes']" class="list-group-item">
                        <div class="truncate pull-left">Pipes</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Remote</h2>
                <div class="list-group">
                    <a [routerLink]="['Http']" class="list-group-item">
                        <div class="truncate pull-left">Http</div>
                    </a>
                    <a [routerLink]="['Promises']" class="list-group-item">
                        <div class="truncate pull-left">Promises</div>
                    </a>
                    <a [routerLink]="['AsyncPipe']" class="list-group-item">
                        <div class="truncate pull-left">Async pipe</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 list-category text-primary">
                <h2 class="title header-section">Routing</h2>
                <div class="list-group">
                    <a [routerLink]="['Routing']" class="list-group-item">
                        <div class="truncate pull-left">Routing</div>
                    </a>
                    <a [routerLink]="['HierarchicalRoutes']" class="list-group-item">
                        <div class="truncate pull-left">Hierachical routes</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>