<app-header></app-header>
<router-outlet></router-outlet>
<hr />
<footer>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img src="https://s.gravatar.com/avatar/750fb2d20360d5a472ef76cfc2037342?s=80" alt="George Dyrrachitis" class="media-object img-rounded"
                        height="50" />
                </div>
                <div class="media-body">
                    <h4>George Dyrrachitis</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list list-unstyled">
                <li class="list-item"><a class="twitter-follow-button" href="https://twitter.com/giorgosdyrra">
Follow @giorgosdyrra</a></li>
                <li class="list-item"><iframe src="https://ghbtns.com/github-btn.html?user=gdyrrahitis&type=follow&count=true&size=medium" frameborder="0"
                        scrolling="0" width="200px" height="20px"></iframe></li>
            </ul>
        </div>
    </div>
</footer>