<div class="row">
    <div class="col-md-12">
        <h3>Promises</h3>
        <h4>Using Http service to fetch remote data with promises instead of observables</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Total population for a given country with results for today and tomorrow</h4>
                <form class="novalidate">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="countries" class="form-control" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)">
                                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="totalPopulationRanks">
            <div class="col-md-6" *ngFor="let rank of totalPopulationRanks" >
                <div class="well well-lg">
                    Population {{getTodayOrTomorrow(rank.date)}} ({{rank.date | date:'dd/MM/yyyy'}}) is {{rank.population | number}}
                </div>
            </div>
        </div>
    </div>
</div>