<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>NgIf</h3>
            <h4>Conditionally add or remove elements from DOM</h4>
        </hgroup>
        <hr />
        <button class="btn btn-primary btn-large" (click)="chosen = !chosen">Toggle</button>
        <div class="row" *ngIf="!chosen">
            <div class="col-md-12">
                <h4>Which Pokemon is in the pokeball???</h4>
                <a class="thumbnail">
                    <img src="{{imagesPath+pokeball}}" alt="{{pokeball}}" width="500" heigth="500" />
                </a>
            </div>
        </div>
        <div class="row" *ngIf="chosen">
            <div class="col-md-12">
                <h4>It is Pikachu!</h4>
                <a class="thumbnail">
                    <img src="{{imagesPath+pikachu}}" alt="{{pikachu}}" width="500" heigth="500" />
                </a>
            </div>
        </div>
    </div>
</div>