<div class="row">
    <div class="col-md-12">
        <h3>Interpolation</h3>
        <h4>Expression interpolation</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Interpolating public component properties in view</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Canada flag image name</h3>
                    </div>
                    <div class="panel-body">
                        <span class="label label-success">{{canada}}</span>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">USA flag image name</h3>
                    </div>
                    <div class="panel-body">
                        <span class="label label-success">{{usa}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Concatenating properties in attributes</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Canada flag</h3>
                            </div>
                            <div class="panel-body text-center">
                                <img src="{{imagesPath+canada}}" alt="{{canada}}" class="flag" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">USA flag</h3>
                            </div>
                            <div class="panel-body text-center">
                                <img src="{{imagesPath+usa}}" alt="{{usa}}" class="flag" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>