<div class="row">
    <div class="col-md-12">
        <h3>Services</h3>
        <h4>Injecting Services to Components</h4>
        <h5>Resolving from constructor <code>constructor(private _countryService: CountryService)</code></h5>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Countries of the world</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Flag</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Continent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let country of countries">
                            <td class="flag-container">
                                <div class="flag" [bgImage]="country.code"></div>
                            </td>
                            <td>{{getCodeNameFrom(country.code)}}</td>
                            <td>{{country.name}}</td>
                            <td>{{country.continent.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>