<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Services</h3>
            <h4>Injecting Services to Components</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Using PokemonService</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pokemon</th>
                            <th>Techniques</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#pokemon of pokemons">
                            <td class="pokemon-container">
                                <div class="pull-left pokemon-image">
                                    <img src="{{imagesDirectory + '/' + pokemon.name + '.png'}}" alt="{{pokemon.name}}" width="100" height="100" />
                                </div>
                                <div class="pull-right pokemon-details">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <td><strong>Name</strong></td>
                                                <td>{{pokemon.name}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Level</strong></td>
                                                <td>{{pokemon.level}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>HP</strong></td>
                                                <td>{{pokemon.healthPoints}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Type</strong></td>
                                                <td><small class="text-top">{{getNameFromTypeEnum(pokemon.type)}}</small><span class="pokemon-type" [bgColor]="pokemon.type[0]"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td class="technique-container">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Technique</th>
                                            <th>Damage</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="#technique of pokemon.techniques">
                                            <td>{{technique.name}}</td>
                                            <td>{{technique.hitPoints}}</td>
                                            <td><small class="text-top">{{getNameFromTypeEnum(technique.type)}}</small><span class="pokemon-type" [bgColor]="technique.type"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>