<div class="jumbotron">
    <div class="container">
        <h1>101 Angular 2.0</h1>
        <p>Samples</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h2 class="header-section">Section 1</h2>
                <hr />
                <ul class="list-section">
                    <li>1.1 <a [routerLink]="['Interpolation']">Interpolation</a></li>
                    <li>1.2 <a [routerLink]="['NgIf']">NgIf</a></li>
                    <li>1.3 <a [routerLink]="['NgFor']">NgFor</a></li>
                    <li>1.4 <a [routerLink]="['PropertyBinding']">Property binding</a></li>
                    <li>1.5 <a [routerLink]="['EventBinding']">Event Binding</a></li>
                    <li>1.6 <a [routerLink]="['TwoWayBinding']">Two way binding</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="header-section">Section 2</h2>
                <hr />
                <ul class="list-section">
                    <li>2.1 <a [routerLink]="['Directives']">Directives</a></li>
                    <li>2.2 <a [routerLink]="['Services']">Services</a></li>
                    <li>2.3 <a [routerLink]="['Injecting']">Dependency injection</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="header-section">Section 3</h2>
                <hr />
                <ul class="list-section">
                    <li>3.1 <a [routerLink]="['Metadata']">Metadata</a></li>
                    <li>3.2 <a [routerLink]="['Childs']">Child components</a></li>
                    <li>3.3 <a [routerLink]="['ViewChild']">View child</a></li>
                    <li>3.4 <a [routerLink]="['LifecycleHooks']">Lifecycle hooks</a></li>
                    <li>3.5 <a [routerLink]="['Interaction']">Component interaction</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="header-section">Section 4</h2>
                <hr />
                <ul class="list-section">
                    <li>4.1 <a [routerLink]="['Pipes']">Pipes</a></li>
                    <li>4.2 <a [routerLink]="['Http']">Http</a></li>
                    <li>4.3 <a [routerLink]="['Promises']">Promises</a></li>
                    <li>4.4 <a [routerLink]="['AsyncPipe']">Async pipe</a></li>
                    <li>4.5 <a [routerLink]="['Routing']">Routing</a></li>
                    <li>4.6 <a [routerLink]="['HierarchicalRoutes']">Hierachical routes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />