.showPokemon {
    display: block!important;
    visibility: visible;
}

.hidePokemon {
    display: none!important;
    visibility: hidden;
}

.bg-pokemon{
    background-size: 150px;
    background-repeat: no-repeat;
}