<div class="row">
    <div class="col-md-12">
        <h3>Two way binding</h3>
        <h4>Binding from view to component and vice versa</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Working with countries</h4>
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="isoAlpha2">Enter ISO Alpha2 country code to get info about country</label>
                                <input [(ngModel)]="code" name="code" type="text" id="isoAlpha2" class="form-control" maxlength="2" placeholder="For example: us">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="freeText">Say something for that country...</label>
                                <textarea [(ngModel)]="description" name="description" rows="5" cols="3" id="freeText" class="form-control" placeholder="Enter text here..."></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h4>What you type goes here...</h4>
            <div class="col-md-3">
                <h5>Flag</h5>
                <strong *ngIf="!code">Please enter a valid country code...</strong>
                <img *ngIf="code" [src]="getFlagByCode(code)" [alt]="code" class="flag img-rounded" />
            </div>
            <div class="col-md-9" *ngIf="description">
                <h5>Description</h5>
                <div class="well">
                    {{description}}
                </div>
            </div>
        </div>
    </div>
</div>