<div class="row">
    <div class="col-md-12">
        <h3>NgFor</h3>
        <h4>Run through a loop and render items in array</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Using <code>*ngFor</code></h4>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Show countries of Europe</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let code of europe">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{getCountryNameBy(code)}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img src="{{imagesPath+code+'.png'}}" alt="{{code}}" class="flag img-rounded" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Using <code>template="ngFor let variable of array"</code></h4>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Show countries of America</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" template="ngFor let code of america">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{getCountryNameBy(code)}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img src="{{imagesPath+code+'.png'}}" alt="{{code}}" class="flag img-rounded" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Using <code>*ngFor</code> and get current index of loop</h4>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Show countries of Asia</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let code of asia; let i=index">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">#{{i}} {{getCountryNameBy(code)}}</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img src="{{imagesPath+code+'.png'}}" alt="{{code}}" class="flag img-rounded" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>