<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h3>Directives</h3>
            <h4>Attribute and Structural</h4>
        </hgroup>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Attribute Directives</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Click pokemon 5 times in a row go to next level!  <span *ngIf="clicks">Clicked {{clicks}} {{clicks == 1 ? 'time': 'times'}}</span></h5>
                    </div>
                    <div class="panel-body text-center">
                        <img pokeRender [initial]="pokemonName" [evolutions]="[pokemonNextEvolutionName]" width="300" height="300" class="img-thumbnail"
                            (myOnClick)="myOnClickHandler($event)" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Structural Directives</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Click button to see al Bulbasaur evolutions! <button class="btn btn-success" (click)="initializeEvolutions($event)">Evolutions</button></h5>
                        <small>Uses a custom structural directive. Unfortunately there isn't much documentation on subject currently</small>
                    </div>
                    <div class="panel-body text-center" *ngIf="bulbasaurAllEvolutions">
                        <img *pokeEvolutions="bulbasaurAllEvolutions" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>